.launches-list {
  margin-left: -30px;
}

.launches-list__item {
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 20px 0 20px;
}

.launches-list__flight {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-family: "Brandon Grotesque Medium";
}

.launches-list__flight span {
  margin-left: 40px;
  font-size: 32px;
}

.launches-list__date-rocket {
  display: flex;
  align-items: flex-end;
  align-self: center;
  flex-direction: column;
}

.launches-list__date {
  font-family: "Brandon Grotesque Regular";
  font-size: 16px;
}

.launches-list__rocket-id {
  font-family: "Brandon Grotesque Bold";
  font-size: 24px;
}
